*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerNav{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoHeader{
    display: flex;
    align-items: center;
}

.logoHeader p{
    font-size: xx-large;
    font-weight: lighter;
}

.logoImage{
    width: 100px;
}

